/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  min-inline-size: 375px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 0 var(--padding-main);
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  font-family: var(--font-family);
  background-color: var(--page-color);
}

.header {
  min-block-size: 668px; 
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: var(--padding-main);
  right: 0;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--title-main-color);
  border-right: 1px solid var(--title-main-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: var(--padding-main);
  left: 0;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--title-main-color);
  border-left: 1px solid var(--title-main-color);
}

.rec-decor::before {
  position: absolute;
  content: "REC";
  color: var(--main-color);
  font-weight: 400;
  line-height: 25px;
  top: var(--padding-main);
  right: calc(var(--padding-rec-decor) - var(--padding-main) + 5px);
}

.rec-decor::after {
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  top: var(--padding-circle);
  right: calc(var(--padding-circle) - var(--padding-main));
  align-self: center;
  background-color: var(--main-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 3px var(--main-color);
}

.header__theme-menu {
  display: block;
  text-align: right;
  margin-block-start: 75px;
}

.header__theme-menu-button {
  min-width: 70px;
  height: 26px;
  color: var(--title-main-color);
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  font-size: var(--font-size_s);
  font-weight: var(--font-weight_default);
  line-height: var(--line-height_s);
}

.header__theme-menu-item {
  margin-block-end: 10px;
}

.header__theme-menu-item:last-child {
  margin-block-end: 0;
} 


.header__theme-menu-button:hover {
  cursor: pointer;
  border: 1px solid var(--title-main-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--title-main-color);
}

.header-title {
  display: flex;
  flex-wrap: wrap;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 95.7px;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--main-color);
  align-content: center;
  margin-block-start: 65px;
  margin-block-end: 55px;
}

.style-for-header-text {
  margin-block-end: 66px;
}

.header-text {
  display: block;
  font-size: var(--font-size_s);
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
}

.title-decor {
  background-color: var(--main-color);
  color: #000028;
}

.section {
  display: grid;
  margin-block-end: 50px;
}

.section:last-child {
  margin-block-end: 0;
}

.title-theme {
  color: var(--title-main-color);
  font-size: var(--font-size_s);
  font-weight: 700;
  line-height: var(--line-height_m);
  margin-block-end: 20px;
}

.list-point {
  display: grid;
  gap: 20px;
}

.title-point {
  font-size: var(--font-size_s);
  font-weight: 700;
  line-height: var(--line-height_m);
  margin-block-end: 10px;
}

.more-info {
  margin-block-end: 20px;
}

.title-point-s {
  font-size: var(--font-size_s);
  font-weight: 400;
  line-height: var(--line-height_m);
  margin-block-end: 10px;
}

.point-text {
  font-size: var(--font-size_s);
  font-weight: var(--font-weight_default);
  line-height: var(--line-height_m);
  color: var(--text-color);
}

.text-link {
  text-shadow: 1px 1px 0 var(--main-color);
  text-decoration: none;
}

.text-link:hover {
  padding-top: 1px;
  border-bottom: 1px solid var(--text-color);
}

.text-link:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: 1px;
}

.gallery-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.gallery-items {
  padding-top: 10px;
  display: grid;
  grid-template-rows: 142px 355px 237px 355px 237px;
  gap: 10px;
}

.images {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
}

.footer-title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 95.7px;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--main-color);
}

@media (width >= 768px) {

  .page {
    gap: 60px;
  }

  .header {
    min-block-size: 1024px;
  }

  .style-for-header-text {
    margin-block-start: 167px;
    margin-block-end: 163px;
    min-height: 117px;
    text-align: right;
  }

  .header__theme-menu {
    margin-block-start: 172px;
    margin-block-end: 173px;
  }

  .header-text {
    display: inline-block;
    width: calc(50vw - 20px);
  }

  .section {
    display: grid;
    margin-block-end: 80px;
  }
  
  .section:last-child {
    margin-block-end: 0;
  }

  .header-title {
    font-size: var(--title-size-big);
    text-shadow: 4px 4px 0 #ff0070;
    margin: -20px;
  }

  .section-decor {
    grid-template-columns: 236px 1fr;
    gap: 20px;
  }

  .title-theme-medium {
    width: 150px;
  }

  .section-decor .title-theme {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .section-decor .list-point {
    grid-column-start: 2;
    grid-column-end: 2;
  }

  .gallery-items {
    padding-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
    gap: 20px;
  }

  .photo-item:first-child {
    grid-column: span 2;
  }

  .photo-item:nth-child(2) {
    grid-row: span 2;
  }
  
  .photo-item:nth-child(3) {
    grid-row: span 2;
  }
  
  .photo-item:last-child {
    grid-column: span 2;
  }

  
}

@media (width >= 1024px) {

  .header {
    min-block-size: 768px;
    border-top: 1px solid transparent;
  }

  .header__theme-menu {
    display: flex;
    align-items: start;
    justify-content: center;
    margin-block-start: 0;
    margin-block-end: 273px;
  }

  .header__theme-menu-item {
    margin-block-start: 5px;
    margin-block-end: 5px;
    margin-inline-end: 10px;
  }

  .header__theme-menu-item:last-child {
    margin-inline-end: 0;
    margin-block-end: 5px;
  }

  .header-title {
    min-height: 130px;
  }

  .title-theme-medium {
    width: 315px;
  }

  .header__theme-menu-list {
    display: flex;
  }

  .style-for-header-text {
    min-height: 71px;
    margin-block-start: 110px;
    margin-block-end: 124px;
  }


  .list-decor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-title {
    font-size: var(--title-size-big);
    text-shadow: 2px 2px 0 #ff0070;
  }

  .section-decor {
    grid-template-columns: 315px 1fr;
    gap: 20px;
  }

}
